<section id="section-all">
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-10">
                <h1>User name</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <!--left col-->
                <div class="text-center">
                    <h5>Mediador</h5>
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail"
                        alt="avatar">
                    <h6>Sube una foto diferente...</h6>
                    <input type="file" class="text-center center-block file-upload">
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Sitio Web <i class="fa fa-link fa-1x"></i></div>
                    <div class="panel-body"><a href="http://bootnipets.com">www.josemediador.com</a></div>
                </div>

                <ul class="list-group">
                    <li class="list-group-item text-muted">Actividad MediacionApp <i class="fa fa-dashboard fa-1x"></i>
                    </li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Casos subidos</strong></span>
                        125
                    </li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Comentarios</strong></span>
                        13
                    </li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78
                    </li>
                </ul>

                <div class="panel panel-default">
                    <div class="panel-heading">Social Media</div>
                    <div class="panel-body">
                        <i class="fa fa-twitter fa-2x"></i><br> <i class="fa fa-linkedin fa-2x"></i>
                    </div>
                </div>

            </div>
            <!--Profile FORM-->
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <hr>
                        <form [formGroup]="profileForm" (ngSubmit)="updateProfile()" class="form" id="registrationForm">

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="first_name">
                                        <h4>Nombre</h4>
                                    </label>
                                    <input type="text" class="form-control" formControlName="firstName"
                                        placeholder="nombre">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="last_name">
                                        <h4>Apellidos</h4>
                                    </label>
                                    <input type="text" class="form-control" formControlName="lastName"
                                        placeholder="apellidos">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="email">
                                        <h4>Email</h4>
                                    </label>
                                    <input type="email" value="{{email}}" class="form-control" formControlName="email"
                                        placeholder="email@email.com">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="location">
                                        <h4>Localidad</h4>
                                    </label>
                                    <input type="text" class="form-control" placeholder="localidad"
                                        formControlName="location" title="enter a location">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="password">
                                        <h4>Contraseña</h4>
                                    </label>
                                    <input type="password" class="form-control" formControlName="password"
                                        placeholder="contraseña" title="enter your password.">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="confirmPassword">
                                        <h4>Confirma la contraseña</h4>
                                    </label>
                                    <input type="password" class="form-control" formControlName="confirmPassword"
                                        placeholder="confirmación contraseña" title="confirmPassword">
                                </div>
                            </div>
                            <div class="form-group">
                                <button [disabled]="loading" id="btn-save"
                                    class="btn btn-success btn-lg font-weight-bold">Guardar los
                                    cambios</button>
                                <img *ngIf="loading"
                                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                                    alt="">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
</section>