<section id="section-all">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card w-200">
                    <div class="card-header"></div>
                    <div class="card-body">

                        <form [formGroup]="loginForm" (ngSubmit)="login()">
                            <img class="mb-4" src="" alt="" width="72" height="72">
                            <h1 class="h3 mb-3 font-weight-normal text-center">Inicia sesión</h1>

                            <div class="form-group pafs">
                                <label>Email</label>
                                <input type="email" formControlName="email" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                    placeholder="email@email.com" />
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Por favor, ingresa tu email</div>
                                    <div *ngIf="f.email.errors.email">Debe ser un email válido, gracias</div>
                                </div>
                            </div>

                            <div class="form-group pafs">
                                <label>Contraseña</label>
                                <input type="password" formControlName="password" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                    placeholder="password" />
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Por favor, ingresa una contraseña</div>
                                    <div *ngIf="f.password.errors.minlength">La contraseña debe tener mínimo 8
                                        caracteres
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button [disabled]="loading" class="btn btn-success btn-lg font-weight-bold"
                                    id="btn-signup">Entrar</button>
                                <!-- <a href="" routerLink="/home" class="ml-3">Volver</a> -->
                                <img *ngIf="loading"
                                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                                    alt="">
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>