#section-all{
    height: 150vh;
    background-color: rgba(8, 76, 139, 0.205);
    padding-top: 20px;
}

#btn-send:hover{
    border-color: rgb(65, 199, 132);
    background-color: rgb(65, 199, 132);
    color: white    ;
}

#btn-send{
    border-color: rgb(8, 76, 139);
    background-color: rgb(8, 76, 139);
    color: white    ;
}
a:not([href]):hover, .links-span:hover{
    text-decoration: underline;
    cursor: pointer;
}
.a-icons, .a-icons:hover{
    color:blue;
}