<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="jumbotron">
                <h1 class="display-4">Titulo del caso</h1>
                <p>breve descripcion del caso</p>

                <hr class="my-4">
                <p>contenido del caso</p>

                <p class="lead"><strong><a href="" target="_blank" rel="noopener noreferrer">Read full case
                            here!</a></strong></p>
                <p class="lead">Source: Pepito Pérez</p>
                <a class="btn btn-warning btn-lg" routerLink="/allcases" role="button">Back to cases</a>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>