<section id="section-all">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="jumbotron">
                    <h1 class="display-4">{{_mainService.dataCasesApi[index].title}}</h1>
                    <p>{{_mainService.dataCasesApi[index].description}}</p>

                    <hr class="my-4">
                    <p>Método: <em>{{_mainService.dataCasesApi[index].methodology}}</em></p>
                    <p>Categoría: <em>{{_mainService.dataCasesApi[index].category}}</em></p>
                    <br>
                    <p>{{_mainService.dataCasesApi[index].caseText}}</p>


                    <p class="lead">Autor: {{_mainService.dataCasesApi[index].author}}</p>
                    <button type="button" id="btn-send" class="btn btn-primary btn-lg" data-toggle="modal"
                        data-target="#msgModal">Enviar
                        mensaje</button>
                    <!-- <button class="btn btn-warning btn-lg" onclik="self.close()" type="button">Cerrar</button> -->
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Responder a: {{_mainService.dataCasesApi[index].author}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" class="form-group">
                    <input type="text" name="" class="form-control" placeholder="Asunto" id="">
                    <textarea name="" class="form-control mt-3" placeholder="Escribe algo..." id="" cols="30"
                        rows="10"></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" onclick="$('#msgModal').modal('hide')">Enviar</button>
            </div>
        </div>
    </div>
</div>