#section-all{
    height: 140vh;
    background-color: rgba(8, 76, 139, 0.205);
    padding-top: 30px;
}

#btn-signup:hover{
    border-color: rgb(65, 199, 132);
    background-color: rgb(65, 199, 132);
    color: white    ;
}

#btn-signup{
    border-color: rgb(8, 76, 139);
    background-color: rgb(8, 76, 139);
    color: white    ;
}

.pafs{
    font-size: 20px;
    color: rgb(8, 76, 139);
}
.card-header{
    background-color: rgba(8, 76, 139, 0.698);
}

h1{
    font-weight: bold;
    font-size: 35px;
    color: rgb(8, 76, 139);
}